{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<form  class="float-center" action="/login" method="post">
    <div class="button-center">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
    </div>
    <div class="button-center">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    {% if error %}
    <p class="button-center"><b>{{ error }}</b></p>
    {% endif %}
    <button class="button button-center" type="submit">Log In</button>
    <a href="/register" class="button button-center">Register</a>
</form>


{% endblock %}
