{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form class="float-center" action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" >
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password(Again)" type="password">
    </div>
    {% if error %}
    <p class="red_text"><b>{{ error }}</b></p>
    {% endif %}
    <button class="button" type="submit">Register</button>
    <a href="/login" class="button-center">Already have an account?</a>
</form>
    
{% endblock %}
