{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <input placeholder="Username" name="username" type="text" required></input>
        <input placeholder="Password" name="password" type="password" required></input>
        <input placeholder="Password Confirmation" name="confirmation" type="password" required></input>
        {% if error %}
        <p><b>{{ error }}</b></p>
        {% endif %}
        <button class="border border-sky-100 bg-sky-500 hover:bg-sky-700" type="submit">Register</button>
    </form>
    
{% endblock %}
