{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register">
        <input placeholder="Username" name="username" type="text" required></input>
        <input placeholder="Password" name="password" type="password" required></input>
        <input placeholder="Password Confirmation" name="confirmation" type="password" required></input>
    </form>
    <button type="submit">Register</button>
    {% if error %}
        <p><b>{{ error }}</b></p>
    {% endif %}
{% endblock %}
